@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu");

.payment {
  background: #afd1ae;
  max-width: 360px;
  margin: 80px auto;
  height: fit-content;
  padding: 35px;
  padding-top: 20px;
  border-radius: 5px;
  position: relative;
}

.btn1 {
  width: 100%;
  background: #04631c;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 7px;
}

/* .payment h2{
  text-align: center;
  letter-spacing: 2px;
} */

.form .label {
  display: block;
  color: #555555;
  /* margin-bottom: 6px; */
}

/* .input{
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 16px;
  color: #555555;
} */

.cardPayment-grp {
  display: flex;
  justify-content: space-between;
}

.space {
  bottom: 100%;
}

.icon-relative {
  position: relative;
}

.icon-relative .fas,
.icon-relative .far {
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}

.payment-logo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 85px;
}

.payment-logo:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #04631c;
  border-radius: 50%;
}

.payment-logo p {
  position: relative;
  color: #f8f8f8;
  font-family: "Baloo Bhaijaan", cursive;
  font-size: 58px;
}

@media screen and (max-width: 420px) {
  .cardPayment-grp {
    flex-direction: column;
  }
  .cardPayment-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn1 {
    margin-bottom: 50px;
  }
}
