/* @import url('https://fonts.googleapis.com/css2?family=open+Sans:wght@300;400;500;600;700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 100px;
  background: #fff;
  /* background: #161616; */
  transition: 0.5s;
}
.banner.night {
  /* background: #8acca8; */
  background: #161616;
}
.banner::before {
  content: "";
  position: absolute;
  left: 30%;
  top: 10%;
  width: 120px;
  height: 120px;
  /* background: url(/images/dotted.png); */
  background-size: cover;
  animation: animateColor 10s linear infinite;
  transition-delay: -5s;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .Logo {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s;
}
header .Logo span {
  color: #04631c;
}
header ul {
  display: flex;
  gap: 40px;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  color: #fff;
  transition: 0.5s;
}
.content {
  position: relative;
  max-width: 700px;
  z-index: 10;
}
.content h3 {
  font-size: 2em;
  color: #161616;
  font-weight: 200;
  transition: 0.5s;
}
.content h2 {
  font-size: 5.5em;
  color: #161616;
  font-weight: 700;
  transition: 0.5s;
}
.content h2 span {
  color: #04631c;
}
.content p {
  font-size: 1.2em;
  color: #161616;
  margin: 10px 0;
  transition: 0.5s;
}
.content button {
  position: relative;
  background: #04631c;
  color: #fff;
  outline: none;
  border: none;
  padding: 15px 35px;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  margin-right: 20px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
.content a {
  color: #fff;
  text-decoration: none;
}

.sci {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 20px;
}

.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  margin-left: 15px;
  /* background: #161616; */
  background: #04631c;
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 1.75em;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.sci li a:hover {
  /* background: #04631c; */
  background: #206e33;
  transform: translateY(-10px);
  color: #fff;
}

.sci li a img {
  filter: invert(1);
  transform: scale(0.5);
}
.dayNight {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background: #206e33;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  font-size: 2em;
}
.banner.night .dayNight {
  background: #206e33;
  color: #fff;
}
.dayNight ion-icon:nth-child(1),
.banner.night .dayNight ion-icon:nth-child(2) {
  display: none;
}
.banner.night .dayNight ion-icon:nth-child(1) {
  display: block;
}
.banner.night header .Logo,
.banner.night .content h2,
.banner.night .content h3,
.banner.night .content p,
.banner.night .content button.chat,
.banner.night .sci li a,
.banner.night header ul li a {
  color: #fff;
}
.banner.night .sci li a:hover {
  color: #fff;
  background: #04631c;
}
.banner.night .sci li a {
  background: #206e33;
}

.colors {
  position: absolute;
  right: 0;
  max-width: 600px;
  animation: animateColor 8s ease-in-out infinite;
}
@keyframes animateColor {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
}
.men {
  position: absolute;
  right: 5px;
  bottom: 0;
  max-width: 50%;
  max-height:100%;
  animation: animateMen 8s ease-in-out infinite;
}
@keyframes animateMen {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-50px);
  }
}
@media (max-width: 991px) {
  .content h2 span {
    font-size: 40px;
    bottom: 50px;
  }
  .content {
    bottom: 100px;
  }
  .content h3{
    font-size: 20px;
    bottom: 50px;
  }
  .content h2{
    font-size: 30px;
  }
  .content p{
    font-size: 15px;
  }
  .sci {
    bottom: 30px;
  }
  .banner {
    padding: 10px;
  }
  .men{
    max-width: 50vh;
    right: 20px;
    bottom: 30px;
  }
  .content button{
    padding: 10px;
    font-size: 12px;
  }
}
