@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* start section */
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5ac976;
}

section .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #04631c;
  clip-path: circle(70% at right -20%);
}
/* and section */

/* start header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 90px;
  gap: 20px;
  align-items: center;
}
header .logo {
  max-width: 100px;
  position: relative;
}
header .lo {
  color: #fff;
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.1em;
  display: flex;
  gap: 30px;
}

/* end header */

/* start content landing page */
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* start textBox */
.content .textBox {
  position: relative;
  max-width: 600px;
}
/* end textBox */

/*start h2 */
.content .textBox h2 {
  color: #fff;
  font-size: 3em;
  margin-top: 140px;
  line-height: 1.4em;
  font-weight: 700;
}
.content .textBox h2 span {
  font-size: 0.50em;
}
/* end h2 */

.content .textBox p {
  color: #fff;
}
.content .textBox button {
  margin-top: 20px;
}

/* start content textBox Link a href */
/* end content landing page */

/* start button detail card profile*/
/* .buttondetails {
  color: #fff;
  background: #04631c;
  align-items: center;
} */
/* end button detail card profile*/

/* start card profile */
.card {
  position: relative;
  width: 360px;
  height: 190px;
  background: #5ac976;
  transition: 0.5s;
}
/* start hover */
.card:hover {
  height: 450px;
}
/* start hover */

/* start lines */
.card .lines {
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;
}
/* end lines */

/* start lines::before */
.card .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 120px;
  background: linear-gradient(
    transparent,
    #04631c,
    #04631c,
    #04631c,
    transparent
  );
  animation: animate 4s linear infinite;
}
/* end lines::before */

/* start animasi lines::before */
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* end animasi lines::before */

/* start lines::after */
.card .lines::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #afd1ae;
}
/* end lines::after */

/* start imgBx */
.card .imgBx {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
}
/* end imgBx */

/* start hover imgBx */
.card:hover .imgBx {
  width: 250px;
  height: 250px;
}
/* end hover imgBx */

/*start imgBx::before */
.card .imgBx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    transparent,
    #5ac976,
    #5ac976,
    #5ac976,
    transparent
  );
  animation: animate2 6s linear infinite;
}
/*end imgBx::before */

/*start animasi imgBx::before */
@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
/*end animasi imgBx::before */

/* start imgBx::after */
.card .imgBx::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #04631c;
}
/* end imgBx::after */

.card .imgBx img {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  /* filter: grayscale(1); */
}
.card .content1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.card .content1 .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(145px);
}
.card:hover .content1 .details {
  transform: translateY(0px);
}
.card .content1 .details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #04631c;
  line-height: 1.2em;
}
.card .content1 .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  color: #fff;
}
.card .content1 .details .data {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}
.card .content1 .details .data h2 {
  font-size: 1.5em;
  color: #04631c;
  line-height: 1.2em;
  font-weight: 600;
  display: hidden;
}
.card .content1 .details .data h2 span {
  font-size: 0.85em;
  font-weight: 400;
  color: #fff;
}
.card .content1 .details .actionBtn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.card .content1 .details .actionBtn button {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  background: #04631c;
  color: #fff;
  cursor: pointer;
  opacity: 0.9;
  margin-left: 90px;
}
.card .content1 .details .actionBtn button:nth-child(2) {
  background: #fff;
}
.card .content1 .details .actionBtn button:hover {
  opacity: 1;
}
/* end card profile */

/* start modal */
.modal-1 {
  margin-left: 20%;
  padding-top: 5%;
}
/* end modal */

/* button modal */
.modal-button {
  display: inline-block;
  padding: 15px;
  background: #fff;
  color: #04631c;
  font-weight: 500;
  border-radius: 40px;
  letter-spacing: 1px;
  text-decoration: none;
  border: none;
}
/* end button modal */

/*start swiper-container*/
swiper-container {
  width: 100%;
  padding-top: 0;
  padding-bottom: 50px;
  border: #161616;
}
/* end swiper-container */

/* start gambar slide */
swiper-slide {
  background-position: center;
  background-size: cover;
  width: 180px;
  height: 300px;
  display: flex;
  top: 50px;
  justify-content: center;
  border: #04631c;
}
/* end gambar slide */

.content {
  margin-top: 10px;
  padding: 30px;
}
.content .imgBox {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.content .imgBox img {
  max-width: 150px;
}

swiper-slide img {
  /* position: absolute; */
  top: 30px;
  bottom: 0;
  max-height: 92%;
  width: 70%;
}
/* start menyesuaikan ukuran slide */
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d swiper-slide {
  transform-style: preserve-3d;
  width: 40%;
  background: none;
}
/* end menyesuaikan ukuran slide */

.carousel {
  width: 60%;
  padding: 7px;
  background: transparent;
  height: 14rem;
}
.cocacola {
  font-size: large;
  font-weight: 700;
}
.cocacola1 {
  margin-top: 50px;
  margin-left: 20px;
  font-size: large;
  color: #04631c;
}
.carousel-indicators {
  /* position: absolute; */
  top: 110%;
  z-index: 15;
  width: 100%;
  list-style: none;
}
#popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  z-index: 99;
}
#popup .close {
  width: 50px;
}
#popup .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px 20px;
  background: #afd1ae;
  border-radius: 10px;
}
#popup .card-content h2 {
  margin-top: 10px;
  text-align: center;
  color: #111;
  font-weight: 500;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1em;
}
#popup .card-content h3 {
  font-size: 1em;
  font-weight: 400;
  text-transform: initial;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 40px;
}
#popup img {
  position: relative;
  left: 20%;
  width: 200px;
  height: 180px;
  margin-top: 15px;
}
#popup .form {
  text-align: center;
}
#popup .form label {
  display: block;
}
#popup .form input {
  margin-top: 8px;
  border-radius: 5px;
  height: 40px;
  max-width: 90px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  text-align: center;
}
#popup .form .min,
#popup .form .plus {
  height: 40px;
  padding: 5px 15px;
  border-radius: 5px;
  color: rgba(0, 114, 54, 255);
  background: #eee;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
  margin: 0;
}
#popup .form .buy {
  margin-top: 10px;
  height: 40px;
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
  background: rgba(0, 114, 54, 255);
  color: #fff;
}
#popup .card-content a.close {
  position: absolute;
  text-align: center;
  padding: 5px 15px;
  border-radius: 30px;
  top: 10px;
  right: 20px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  background: #111;
  color: #fff;
}
#popup p {
  text-align: center;
  color: #111;
  margin-top: 8px;
}
a.disable {
  pointer-events: none;
  cursor: default;
}

.copy-right p {
  margin-left: 50px;
  margin-top: 20px;
  color: #eee;
}
.copy-right i {
  color: #04631c;
}
/* 
.carousel-indicators {
    left: 50%;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    text-align: center;
    list-style: none;
} */
/*start responsive */
@media (max-width: 991px) {
  /* start button click me */
  .modal-button {
    margin-top: 4%;
  }
  /* end button click me */

  header {
    padding: 20px 30px;
    gap: 10px;
    justify-content: center;
  }
  header .logo {
    max-width: 100px;
    max-height: 100px;
    margin-top: 30px;
  }
  header .expo {
    font-size: 1.3em;
  }

  /* start card profile */
  .card {
    position: relative;
    width: 300px;
    height: 150px;
    background: #04631c;
    transition: 0.5s;
  }
  .card:hover {
    height: 350px;
  }
  /*start gambar  */
  .card .imgBx img {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    /* filter: grayscale(1); */
  }
  /*end gambar  */

  .card .imgBx::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: #04631c;
    width: calc(95%);
    height: calc(95%);
  }

  .card:hover .imgBx {
    width: 150px;
    height: 150px;
  }

  .card .imgBx {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 110px;
    background: #5ac976;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
  }
  /* end card profile */

  /* start modal card */
  .modal {
    padding-top: 40%;
    margin-left: 30px;
    margin-right: 30px;
  }
  /* end modal card */

  .content {
    flex-direction: column;
    margin-top: 90px;
  }
  .content .textBox,
  .content .imgBox {
    max-width: 100%;
  }
  swiper-slide {
    padding-bottom: 5%;
  }
  header .navigation {
    display: none;
  }

  .carousel {
    width: auto;
  }

  /* .content .textBox button {
    margin-top: ;
  } */
  .carousel-indicators {
    display: none;
  }
  .card .content1 .details .actionBtn button {
    margin-left: 55px;
  }
  .card .content1 .details {
    padding: 25px;
    text-align: center;
    width: 90%;
    transition: 0.5s;
  }
  #popup .card-content {
    width: 320px;
  }
  #popup .card-content h2 {
    margin-top: 20px;
    font-size: 1.15em;
  }
  #popup .card-content h3 {
    font-size: 0.9em;
  }
  #popup img {
    left: 15%;
    width: 200px;
    height: 220px;
    margin-top: 20px;
  }
  #popup .form input {
    margin-top: 10px;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    text-align: center;
  }
  #popup .form button {
    margin-top: 10px;
    height: 40px;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  #popup .card-content a.close {
    position: absolute;
    text-align: center;
    padding: 5px 15px;
    border-radius: 30px;
    top: 10px;
    right: 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    background: #111;
    color: #fff;
  }

  .cocacola1 {
    margin-top: 40%;
  }

  /* end responsive */
}

.textBox a {
  background: #04631c;
  padding: 15px;
  border-radius: 40px;
  width: 140px;
  text-align: center;
  color: #f8f8f8;
  cursor: pointer;
  border: none;
  margin-left: 20px;
  letter-spacing: 1px;
  transition: all 0.5s;
}
.textBox a:hover {
  text-decoration: none;
  color: #fff;
}
